
@font-face{
	font-family: 'Gibson-Light';
	src: url('../fonts/Gibson-Light/Gibson-Light.eot');
	src: url('../fonts/Gibson-Light/Gibson-Light.eot?iefix') format('eot'),
	url('../fonts/Gibson-Light/Gibson-Light.woff') format('woff'),
	url('../fonts/Gibson-Light/Gibson-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Gibson';
	src: url('../fonts/Gibson/Gibson.eot');
	src: url('../fonts/Gibson/Gibson.eot?iefix') format('eot'),
	url('../fonts/Gibson/Gibson.woff') format('woff'),
	url('../fonts/Gibson/Gibson.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Gibson-SemiBold';
	src: url('../fonts/Gibson-SemiBold/Gibson-SemiBold.eot');
	src: url('../fonts/Gibson-SemiBold/Gibson-SemiBold.eot?iefix') format('eot'),
	url('../fonts/Gibson-SemiBold/Gibson-SemiBold.woff') format('woff'),
	url('../fonts/Gibson-SemiBold/Gibson-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Gibson-Bold';
	src: url('../fonts/Gibson-Bold/Gibson-Bold.eot');
	src: url('../fonts/Gibson-Bold/Gibson-Bold.eot?iefix') format('eot'),
	url('../fonts/Gibson-Bold/Gibson-Bold.woff') format('woff'),
	url('../fonts/Gibson-Bold/Gibson-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}