$main_color: #000F2E;
$color_subtitle: #002EAA;
$color_desc: #717783;
$color_back: #0045FF;
$color_footer: #CCCFD5;

$GibsonLight: 'Gibson-Light', sans-serif;
$Gibson: 'Gibson', sans-serif;
$GibsonSemiBold: 'Gibson-Semibold', sans-serif;
$GibsonBold: 'Gibson-Bold', sans-serif;
